@model SanmorePlatform_REAL_Model.ViewModels.GetBasicUserInfoViewModel
<div class="container my-4">
    <div class="profile-page">
        <div class="profile-section col-sm-12 col-md-4 me-md-4">
            <div class="profile-user">
                <img src="~/images/profile.png" />
                <strong class="h5">Joe Smith</strong>
                <p class="text-primary-m m-0">Basic Buyer</p>
            </div>

            <hr class="divider" />
            <div class="info-title">
                Account Fast-links
            </div>
            <div class="profile-setting pt-0">
                <div class="setting-menu active">
                    <span class="s-icon"><img src="~/images/icons/notification.svg" /></span>
                    <span class="s-menu">Notifications</span>
                </div>
                <span class="setting-menu">
                    <span class="s-icon"><img src="~/images/icons/file.svg" /></span>
                    <span class="s-menu">Personal Financial Statement</span>
                </span>
                <div class="setting-menu">
                    <span class="s-icon"><img src="~/images/icons/hand-shake.svg" /></span>
                    <span class="s-menu">Partner Matching</span>
                </div>
                <div class="setting-menu">
                    <span class="s-icon"><img src="~/images/icons/doller.svg" /></span>
                    <span class="s-menu">Transactions</span>
                </div>
                <div class="setting-menu">
                    <span class="s-icon"><img src="~/images/icons/setting.svg" /></span>
                    <span class="s-menu">Account Settings</span>
                </div>
            </div>
            <hr class="divider" />
            <div class="setting-menu">
                <span class="s-icon"><img src="~/images/icons/message-circle.svg" /></span>
                <span class="s-menu">Chat</span>
            </div>
            <hr class="divider" />
            <div class="profile-action">
                <button class="btn btn-profile">Become a Broker</button>
                <button class="btn btn-profile mt-2">Log Out</button>
            </div>
        </div>
        <div class="notification-section col-sm-12 col-md-8">
            <div>
                <strong class="title">Notifications</strong>
                <div class="notification-block">
                    <div class="notification-icon">
                        <img src="~/images/icons/bell.svg" />
                    </div>
                    <div class="notification-content">Complete your Fast-Track account to efficiently and seamlessly invest in properties, find approved lending products, and participate in partner matching!</div>
                    <div class="notification-action">
                        <img src="~/images/icons/action.svg" />
                    </div>
                </div>
                <div class="notification-block">
                    <div class="notification-icon">
                        <img src="~/images/icons/hand-hi.svg" />
                    </div>
                    <div class="notification-content">
                        Hi, Welcome to Reidy! Here we try to streamline asset investment for you, providing you all the tools you would need. If you have any questions click <a class="text-primary-m">here</a>
                        or if you would like to learn more a 1 minute tutorial video is provided just click <a class="text-primary-m">here</a>. Happy investing!
                    </div>
                    <div class="notification-action">
                        <img src="~/images/icons/action.svg" />
                    </div>
                </div>
                <hr class="divider" />
                <strong class="title">Personal Financial Statement</strong>
                <div class="partner-matching">
                    <div class="partner-content">Your PFS is not available due to user status, please finish setting up your <a class="text-primary-m">Fast-Track Account</a>.</div>
                </div>
                <hr class="divider" />
                <strong class="title">Partner Matching</strong>
                <div class="partner-matching">
                    <div class="partner-content">This feature is not available for basic users, please complete your <a class="text-primary-m">Fast-Track Account</a> for access.</div>
                </div>
                <hr class="divider" />
                <strong class="title">Transactions</strong>
                <div class="Transactions-block">
                    <div classs="transaction-content">No Transaction History.</div>
                </div>
                <hr class="divider" />
                <div class="d-flex">
                    <strong class="title">Account Settings</strong>
                    <img src="~/images/icons/edit.svg" />
                </div>
                <div class="profile-info pt-0">
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="p-label">First Name</label>
                            <input type="text" class="form-control" readonly value="Hanuman" />
                        </div>
                        <div class="form-group col-6">
                            <label class="p-label">Last Name</label>
                            <input type="text" class="form-control" readonly value="Mule" />
                        </div>
                        <div class="form-group col-6">
                            <label class="p-label">Email</label>
                            <input type="text" class="form-control" readonly value="Joesmith@gmail.com" />
                        </div>
                        <div class="form-group col-6">
                            <label class="p-label">Phone</label>
                            <input type="text" class="form-control" readonly value="213-156-9876" />
                        </div>
                        <div class="form-group col-6">
                            <label class="p-label">Account</label>
                            <input type="text" class="form-control" readonly value="Basic Buyer" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form asp-action="BasicUserProfile" method="post" enctype="multipart/form-data" class="d-none">
            <div class="addlistingform user_profile">
                <div class="container-px">
                    <!-- Basic User-profile section -->
                    <div class="basicuser_profile">
                        <div class="add-property">
                            <div class="flexcntrbtw">
                                <h5>Edit Profile</h5>
                                <!-- == Only for fasttrack buyer== -->
                                <div class="toggle-switch">
                                    <div class="on-off-toggle">
                                        <input class="on-off-toggle__input" type="checkbox" id="bopis">
                                        <label for="bopis" class="on-off-toggle__slider"></label>
                                    </div>
                                    <div class="ms-2 cr-pt" data-bs-target="#partnerMatchingId" data-bs-toggle="modal">
                                        Partner Matching
                                    </div>
                                </div>
                                <!-- == Only for fasttrack buyer== -->
                            </div>
                            <div class="row">
                                <div class="col-xl-3 text-center">
                                    <div class="profile-pic">
                                        <input asp-for="id" type="hidden" />
                                        <label class="edit-label" for="file">
                                            <span>Change Image</span>
                                        </label>
                                        <input asp-for="File" type="file" id="file" onchange="loadFile(event)" />
                                        <input asp-for="ProfilePicName" type="hidden" />

                                        @if (@Model.ProfilePicName == null)
                                        {
                                            <img src="~/Images/user.png" id="output" width="200" alt="user1" class="edit_pic">
                                        }
                                        else
                                        {
                                            <img src="~/BasisUserProfile/@Model.ProfilePicName" id="output" width="200" alt="user1" class="edit_pic">
                                        }
                                    </div>
                                    @* <p class="mt-2">Profile Picture</p>
                                    </div>
                                    <div class="col-xl-9">
                                    <div class="row mt-4">
                                    <div class="col-xl-4 col-md-6 mb-2">
                                    <label for="fName2" class="form-label">First name</label>
                                    <input type="text" asp-for="FirstName" class="input-field readonly" id="fName2" placeholder="First name" readonly>
                                    </div>
                                    <div class="col-xl-4 col-md-6 mb-2">
                                    <label for="lastName2" class="form-label">Last name</label>
                                    <input type="text" asp-for="LastName" class="input-field readonly" id="lastName2" placeholder="Last name" readonly>
                                    </div>
                                    <div class="col-xl-4 col-md-6 mb-2">
                                    <label for="principalBroker2" class="form-label">Title</label>
                                    <input type="text" asp-for="Title" class="input-field" id="principalBroker2" placeholder="Title">
                                    </div>
                                    <div class="col-xl-4 col-md-6 mb-2">
                                    <label for="emailProfile2" class="form-label">Email</label>
                                    <input type="email" asp-for="Email" class="input-field readonly" id="emailProfile2" placeholder="Email" readonly>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="col-xl-4 col-md-6 mb-2">
                                    <label for="mobilePhoneId2" class="form-label">Mobile phone</label>
                                    <input type="tel" asp-for="MobilePhone" class="input-field myPhoneclass" id="mobilePhoneId2" placeholder="Mobile phone" maxlength="12">
                                    <span asp-validation-for="MobilePhone" class="text-danger"></span>
                                    </div>

                                    <div class="col-xl-4 col-md-6 mb-2">
                                    <label for="officePhoneId2" class="form-label myPhoneclass">Office phone</label>
                                    <input type="tel" asp-for="OfficePhone" class="input-field myPhoneclass" id="officePhoneId2" placeholder="Office phone" maxlength="12">
                                    </div>
                                    <div class="col-xl-4 col-md-6 mb-2">
                                    <label for="primaryRole2" class="form-label">
                                    Primary
                                    Role
                                    </label>
                                    <select asp-for="PrimaryRole" class="form-select" aria-label="Default select example" id="primaryRole2">
                                    <option value="Lender" selected="@((Model.PrimaryRole == "Lender") ? "selected" : null)">Lender</option>
                                    <option value="Broker" selected="@((Model.PrimaryRole == "Broker") ? "selected" : null)">Broker</option>
                                    <option value="FastTrack Buyer" selected="@((Model.PrimaryRole == "FastTrack Buyer") ? "selected" : null)">FastTrack Buyer</option>
                                    <option value="BasicUser" selected="@((Model.PrimaryRole == "BasicUser") ? "selected" : null)">Basic User</option>
                                    </select>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div> *@
                                    <@* div class="text-center mt-4 mb-5">
                                        <a type="submit" asp-action="Index" asp-controller="Home" class="me-2 btn-pbr btn-cancel btn">Cancel</a>
                                        <input type="submit" class="btn-login btn-pbr" value="Save Progress" />
                                        <input type="submit" class="btn-sign btn-pbr" value="Save changes" />
                                        </div>
                                        </div> *@
                                </div>
        </form>
        <!-- footer -->
        <!-- Partner Matching Modal popup Start-->
        <div class="modal popup fade" id="partnerMatchingId" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content br-32 border-0">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center mb-4"><img src="~/Images/warning-icon.png" alt="warning-icon"> </div>
                        <div class="text-center">
                            To enable the <span>Partner Matching</span> feature you have to become a <span class="fw-semibold blue-primary">FastTrack Buyer</span> and should upload the documents.
                        </div>
                    </div>
                    <div class="py-4 text-center">
                        <button type="button" class="me-2 btn-pbr btn-cancel">Cancel</button>
                        <button type="button" class="btn-sign btn-pbr">Continue</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- scripts -->
    </div>
</div>