@model SanmorePlatform_REAL_Model.ViewModels.BrokerProfileModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SanmorePlatform-REAL</title>
    <!-- Links -->
</head>

<body>
    <!--Nav-->

    <div class="top-section">
        <div class="container-fluid container-px">
            <div class="flexcntrbtw">
                <h3 class="fw-semibold mb-0">My <span class="blue-primary">Profile</span></h3>
            </div>
        </div>
    </div>
    <div class="addlistingform">
        <div class="container-px">
            <form asp-action="BrokerProfile" method="post" enctype="multipart/form-data">
                <!-- Broker-profile section -->
                <div class="broker_profile">
                    <div class="add-property">
                        <div class="flexcntrbtw">
                            <h5>Edit Profile</h5>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 text-center">
                                <!-- <div class="text-center"><img src="assets/images/profile.png" alt="profile">
                                  <p>Profile Picture</p>
                                </div> -->
                                <div class="profile-pic">
                                    <input asp-for="UserId" type="hidden" />
                                    <label class="edit-label" for="file">
                                        <span>Change Image</span>
                                    </label>
                                    <input asp-for="ProfilePhoto" type="file" id="file" onchange="loadFile(event)">
                                    <input asp-for="ProfilePicName" type="hidden" />
                                    <input asp-for="Filename" type="hidden" />

                                    @if (@Model.ProfilePicName == null)
                                    {
                                        <img src="~/Images/user.png" id="output" width="200" alt="profile_pic" class="edit_pic">
                                    }
                                    else
                                    {
                                        <img src="~/BasisUserProfile/@Model.ProfilePicName" id="output" width="200" alt="user1" class="edit_pic">
                                    }
                                </div>
                                <p class="mt-2">Profile Picture</p>
                            </div>
                            <div class="col-xl-9">
                                <div class="row mt-4">
                                    <div class="col-xxl-4 col-xl-4 col-md-6 mb-2">
                                        <div class="row">
                                            <div class="col-11">
                                                <label for="fNamefield" class="form-label">First name</label>
                                                <input type="text" asp-for="FirstName" class="input-field readonly" id="fNamefield" placeholder="First name" readonly>
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-4 col-md-6 mb-2">
                                        <div class="row">
                                            <div class="col-11">
                                                <label for="lastName3" class="form-label">Last name</label>
                                                <input type="text" asp-for="LastName" class="input-field readonly" id="lastName3" placeholder="Last name" readonly>
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-4 col-md-6 mb-2">
                                        <div class="row">
                                            <div class="col-11">
                                                <label for="principalBroker3" class="form-label">Title</label>
                                                <input type="text" asp-for="Title" class="input-field" id="principalBroker3" placeholder="Title">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-4 col-md-6 mb-2">
                                        <div class="row">
                                            <div class="col-11">
                                                <label for="emailProfile3" class="form-label">Email</label>
                                                <input type="email" asp-for="Email" class="input-field readonly" id="emailProfile3" placeholder="anna@gmail.com" readonly>
                                                <span asp-validation-for="Email" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-4 col-md-6 mb-2">
                                        <div class="row">
                                            <div class="col-11">
                                                <label for="mobilePhoneId3" class="form-label">Mobile phone</label>
                                                <input type="tel" asp-for="MobilePhone" class="input-field myPhoneclass" id="mobilePhoneId3" placeholder="Mobile phone" maxlength="12">
                                                <span asp-validation-for="MobilePhone" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-4 col-md-6 mb-2">
                                        <div class="row">
                                            <div class="col-11">
                                                <label for="officePhoneId3" class="form-label">Office phone</label>
                                                <input type="tel" asp-for="OfficePhone" class="input-field myPhoneclass" id="officePhoneId3" placeholder="Office phone" maxlength="12">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-4 col-md-6 mb-2">
                                        <div class="row">
                                            <div class="col-11">
                                                <label for="primaryRolebroker" class="form-label">
                                                    Primary
                                                    Role
                                                </label>
                                                <select asp-for="PrimaryRole" class="form-select" aria-label="Default select example" id="primaryRolebroker">
                                                    <option value="1" selected="@((Model.PrimaryRole == 1) ? "selected" : null)">Lender</option>
                                                    <option value="2" selected="@((Model.PrimaryRole == 2) ? "selected" : null)">Broker</option>
                                                    <option value="3" selected="@((Model.PrimaryRole == 3) ? "selected" : null)">FastTrack Buyer</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Chnage Role Modal popup Start-->
                    <div class="modal popup fade" id="chnagerole1" aria-hidden="false" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content br-32 border-0">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center mb-4"><img src="~/Images/warning-icon.png" alt="warning-icon"> </div>
                                    <div class="text-center">
                                        Want to become a <span class="fw-medium">FastTrack Buyer?</span>
                                    </div>
                                </div>
                                <div class="py-4 text-center">
                                    <button type="button" class="me-2 btn-pbr btn-cancel" id="closechnagerole">Cancel</button>
                                    <button type="button" class="btn-sign btn-pbr">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Chnage Role Modal popup End-->
                    <div class="add-property">
                        <div class="row">
                            <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-11">
                                        <label for="companyField" class="form-label">
                                            Company name
                                        </label>
                                        <input asp-for="CompanyName" type="text" class="input-field" id="companyField" placeholder="Company name">
                                        <span asp-validation-for="CompanyName" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-11">
                                        <label for="mainRole" class="form-label">
                                            Main role
                                        </label>
                                        <select asp-for="MainRole" class="form-select" aria-label="Default select example" id="mainRole">
                                            <option value="1" selected="@((Model.IntrestedInUploadInventory == "1") ? "selected" : null)">Wholesaler</option>
                                            <option value="2" selected="@((Model.IntrestedInUploadInventory == "2") ? "selected" : null)">Property owner</option>
                                            <option value="3" selected="@((Model.IntrestedInUploadInventory == "3") ? "selected" : null)">Broker / Realtor</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-11">
                                        <label for="businessAddress" class="form-label">Business address </label>
                                        <input asp-for="BusinessAddress1" type="text" class="input-field" id="businessAddress" placeholder="Business address">
                                        <span asp-validation-for="BusinessAddress1" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-11">
                                        <label for="contactCellphone" class="form-label">Contact cell phone number </label>
                                        <input asp-for="ContactPhoneNumber" type="tel" class="input-field myPhoneclass" id="contactCellphone" placeholder="Contact cell phone number" maxlength="12">
                                        <span asp-validation-for="ContactPhoneNumber" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-11">
                                        <label for="companyPhone" class="form-label">
                                            Company phone number
                                        </label>
                                        <input asp-for="CompanyPhoneNumber" type="tel" class="input-field myPhoneclass" id="companyPhone" placeholder="Company phone number" maxlength="12">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-11">
                                        <label for="experienceTxt" class="form-label">Company profile</label>
                                        <input asp-for="CompanyProfile" type="text" class="input-field" id="experienceTxt" placeholder="Company profile">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-11">
                                        <label for="socialMedia" class="form-label">Social media</label>
                                        <input asp-for="SocialMedia" type="text" class="input-field" id="socialMedia" placeholder="Add link">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-property">
                        <div class="row">
                            <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-11">
                                        <label for="numberofDeals" class="form-label">Number of deals done in last 6 months</label>
                                        <!-- Number field -->
                                        <input asp-for="NumberOfDeals" type="text" class="input-field" id="numberofDeals" placeholder="Number of deals done">
                                        <span asp-validation-for="NumberOfDeals" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-11">
                                        <label for="howcanwehelp" class="form-label">How can we help you get more deals? </label>
                                        <input asp-for="HelpGetMoreDeals" type="text" class="input-field" id="howcanwehelp"
                                               placeholder="How can we help you get more deals?">
                                        <span asp-validation-for="HelpGetMoreDeals" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-11">
                                        <label for="featureSee" class="form-label">What feature would you like to see here? </label>
                                        <input asp-for="FeatureYouLikeToSee" type="text" class="input-field" id="featureSee"
                                               placeholder="What feature would you like to see here?">
                                        <span asp-validation-for="FeatureYouLikeToSee" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-10 col-md-6 mb-3">
                                <label for="uploadInventory" class="form-label">
                                    Our Transaction Coordinators can help you upload all your
                                    inventory! Would you be interested?
                                </label>
                                <select asp-for="IntrestedInUploadInventory" class="form-select custom-w30" aria-label="Default select example" id="uploadInventory">
                                    <option selected>Select</option>
                                    <option value="1" selected="@((Model.IntrestedInUploadInventory == "1") ? "selected" : null)">Yes</option>
                                    <option value="2" selected="@((Model.IntrestedInUploadInventory == "2") ? "selected" : null)">No</option>
                                </select>
                                <span asp-validation-for="IntrestedInUploadInventory" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="add-property">
                        <h5>Help us fight fraud!</h5>
                        <div class="row">
                            <div class="col-xxl-4 col-xl-3 col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-11">
                                        <label for="identificationform2" class="form-label">Identification verification type</label>
                                        <select asp-for="IdentificationType" class="form-select" aria-label="Default select example" id="identificationform2">
                                            <option value="" selected>Select</option>
                                            <option value="1" selected="@((Model.IdentificationType == "1") ? "selected" : null)">State Issued ID</option>
                                            <option value="2" selected="@((Model.IdentificationType == "2") ? "selected" : null)">Passport</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-11">
                                        <div class="upload__box">
                                            <div class="upload__btn-box">
                                                <div class="upload__btn">
                                                    <label for="stateIssuedId2" class="form-label">
                                                        Upload identification <span class="fs-small subpara">(pdf or images only)</span>
                                                    </label>
                                                    <input asp-for="IdProofFile" type="file" multiple data-max_length="20" class="input-field formFile upload__inputfile"
                                                           id="stateIssuedId2">
                                                </div>
                                            </div>
                                            <div class="upload__img-wrap"></div>
                                        </div>
                                        @if (Model.Filename != null)
                                        {
                                            <div class="uploaded-pics">
                                                <div class="prview-outer d-flex">
                                                    <div class="user_upload-img">
                                                        <img src="~/BrokerIdentification/@Model.Filename" alt="statement2" class="img-fluid">
                                                        <span class="remove_btn2">x</span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3 mb-4">
                    <a type="button" asp-action="Index" asp-controller="Home" class="me-2 btn-pbr btn-cancel btn">Cancel</a>
                    @*                    <input type="submit" class="btn-login btn-pbr" value="Save Progress" />
                    *@                    <input type="submit" class="btn-sign btn-pbr" value="Save changes" />
                    <button type="button" class="btn-sign btn-pbr" onclick="location.href='/Broker/Currentinventory/@Context.Session.GetString("Id")'">Go to my properties now</button>
                </div>
            </form>
        </div>
    </div>
    <!-- footer -->
    <!-- scripts -->
    <script src="~/js/jquery-3.7.1.js"></script>
    <script src="~/js/Broker.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>

</body>

</html>