@model SanmorePlatform_REAL_Model.ViewModels.TcGetPropByIdModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Landing Product : SanmorePlatform-REAL</title>
    <!-- Links -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <!-- Lenders CSS -->
</head>

<body>
    <!--Nav-->
    <!-- top section -->
    <div class="top-section">
        <div class="container-fluid container-px">
            <h3 class="fw-semibold mb-0">View Property <span class="blue-primary">Detail</span></h3>
        </div>
    </div>
    <div class="addlistingform">
        <div class="container-fluid container-px">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xxl-12 d-flex justify-content-between add-property flex-wrap">
                    <div class="address_details">
                        <p class="mb-1">Address</p>
                        <h5 class="blue-primary">
                            @Model.Address1, @Model.City City
                            @Model.State Zip code: @Model.ZipCode
                        </h5>
                    </div>
                    <div class="offer_price">
                        <p class="mb-1">Offer Price</p>
                        <h5 class="blue-primary">$@string.Format("{0:#,##0.00}", @Model.OriginalTargetPrice)</h5>
                    </div>
                </div>
                <div class="property_image_section mt-4 ">
                    <div class="row">

                        <div class="col-12 col-md-4 col-lg-4 col-xxl-4">
                            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner property_slide">

                                    @foreach (var item in @Model.PropertyImages)
                                    {

                                        <div class="carousel-item property_detail_slider active" data-bs-interval="10000">
                                            <img src="~/PropertyImages/@item.ImagePath" class="d-block w-100" alt="...">
                                        </div>
                                    }

                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>


                        <div class="col-12 col-md-8 col-lg-8 col-xxl-8">
                            <h5 class="fw-semibold">About the <span class="blue-primary"> property</span></h5>
                            <p>@Model.Description</p>

                            <div class="row mt-4">
                                <div class="col-12 col-md-4 col-xl-4 col-xxl-4">
                                    <div class="d-flex align-items-center">
                                        <div class="me-3">
                                            <img src="~/Images/building.png" alt="building">
                                        </div>
                                        <div class="prop_info">
                                            <span class="mb-1">Asset type</span>
                                            <h6 class="fw-bold">@Model.BuildingStatus</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-xl-4 col-xxl-4">
                                    <div class="d-flex align-items-center">
                                        <div class="me-3">
                                            <img src="~/Images/user_seen.png" alt="building">
                                        </div>
                                        <div class="prop_info">
                                            <span class="mb-1">Users seen last 30 day</span>
                                            <h6 class="fw-bold">5 Users</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-xl-4 col-xxl-4">
                                    <div class="d-flex align-items-center">
                                        <div class="me-3">
                                            <img src="~/Images/total_user.png" alt="building">
                                        </div>
                                        <div class="prop_info">
                                            <span class="mb-1">Users seen total</span>
                                            <h6 class="fw-bold">7 Users</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12 col-md-4 col-xl-4 col-xxl-4">
                                    <div class="d-flex align-items-center">
                                        <div class="me-3">
                                            <img src="~/Images/appicaion.png" alt="building">
                                        </div>
                                        <div class="prop_info">
                                            <span class="mb-1">Applicable lending products</span>
                                            <h6 class="fw-bold">0</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-xl-4 col-xxl-4">
                                    <div class="d-flex align-items-center">
                                        <div class="me-3">
                                            <img src="~/Images/relationship_property.png" alt="building">
                                        </div>
                                        <div class="prop_info">
                                            <span class="mb-1">Relationship to property</span>
                                            <h6 class="fw-bold">@Model.RelationshipToProperty</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-xl-4 col-xxl-4">
                                    <div class="d-flex align-items-center">
                                        <div class="me-3">
                                            <img src="~/Images/tc_contact.png" alt="building">
                                        </div>
                                        <div class="prop_info">
                                            <span class="mb-1">contact</span>
                                            <h6 class="fw-bold">+91-8589658254</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Right Sidebar Menu Modal Popup End-->
    <!-- scripts -->
    <script src="~/js/jquery-3.7.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="~/js~/js/index.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
</body>

</html>