@model IEnumerable<SanmorePlatform_REAL_Model.ViewModels.TcPropertyListingViewModel>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SanmorePlatform-REAL</title>
    <!-- Links -->

    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/TransactionCoordinator.css">
</head>

<body>
    <!--Nav-->
    <!--We are using Layout-->
    <!-- Add listing -->
    <div class="top-section">
        <div class="container-fluid container-px">
            <div class="d-flex flex-column">
                <h4 class="fw-semibold mb-0">Property Listing <span class="blue-primary"> Activity </span> </h4>
            </div>
        </div>
    </div>


    <div class="addlistingform">
        <div class="container-fluid container-px">
            <div class="map-filters p-4">
                <div class="row p-20-12">
                    <div class="col-12 d-flex ">
                        <div>
                            <input type="text" class="filter-control searchicon" placeholder="Search...">
                        </div>
                        <div class="dropdown open small-d-none">
                            <button type="button" class="btn filter-control dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Sort by
                            </button>

                            <ul class="dropdown-menu px-3 wrap-text">
                                <li class="d-flex align-items-center">
                                    Oldest posted
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Newest posted
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Most popular last 30 days
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Least popular last 30 days
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Most popular all time
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Least popular all time
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Earliest modified
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Oldest modified
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Highest price
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Lowest price
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown open small-d-none">
                            <button type="button" class="btn filter-control dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Status
                            </button>
                            <ul class="dropdown-menu px-3 wrap-text">
                                <li class="d-flex align-items-center">
                                    Active/Approved
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Offer received
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Need changes
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Under contract
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Closed/Completed/Sold
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Cancelled/Rejected
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown open small-d-none">
                            <button type="button" class="btn px-4 filter-control dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Filter by
                            </button>

                            <ul class="dropdown-menu px-3">
                                <li class="d-flex align-items-center fw-bold">
                                    <input type="checkbox" class="me-3 filter-checkbox">Last modified
                                </li>
                                <li>
                                    <div class="d-flex align-items-center py-2">
                                        <div class="range-from">
                                            <label for="applieddatefrom">From</label>
                                            <input type="date" class="input-drpdwn" id="applieddatefrom">
                                        </div>
                                        <div class="range-to ms-2">
                                            <label for="applieddateto">To</label>
                                            <input type="date" class="input-drpdwn" id="applieddateto">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <hr class="dropdown-divider mt-3 mb-2">
                                </li>
                                <li class="d-flex align-items-center fw-bold">
                                    <input type="checkbox" class="me-3 filter-checkbox">Posted date
                                </li>
                                <li>
                                    <div class="d-flex align-items-center py-2">
                                        <div class="range-from">
                                            <label for="profileupdtfrom">From</label>
                                            <input type="date" class="input-drpdwn" id="profileupdtfrom">
                                        </div>
                                        <div class="range-to ms-2">
                                            <label for="profileupdtto">To</label>
                                            <input type="date" class="input-drpdwn" id="profileupdtto">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <button type="button" class="btn-sign btn-pbr">Search</button>
                    </div>
                </div>
            </div>

            @if (Model == null)
            {
                <h4>No Property List Found</h4>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-12 col-lg-12 col-xxl-12 bg-white mt-4 mb-4 rounded-start">
                        <div class="row m-0">
                            <div class="col-12 col-lg-2 col-md-2 col-xxl-2 p-0">
                                @if (@item.PropertyImages == null)
                                {
                                    <div class="property_img">
                                        <img src="~/Images/no-imge-1.jpg" class="w-100" alt="house1">
                                    </div>
                                }
                                else
                                {
                                    <div class="property_img">
                                        <img src="~/PropertyImages/@item.PropertyImages" class="w-100" alt="house1">
                                    </div>
                                }
                            </div>
                            <div class="col-12 col-lg-10 col-md-10 col-xxl-10 p-4">
                                <div class="d-flex justify-content-between">
                                    <div class="address_details">
                                        <h5>
                                            @item.Address1, @item.City, @item.State @item.ZipCode
                                        </h5>
                                    </div>
                                    <div class="property_amount">
                                        <h5><span class="blue-primary fw-bold">$@string.Format("{0:#,##0.00}", @item.TargetPrice)</span></h5>
                                    </div>
                                </div>
                                <div class="row p-0 mt-3">
                                    <div class="col-12 col-lg-4 col-md-4 border-end property_info">
                                        <p class="mb-0"><span>Asset type :</span> <span class="fw-bold">@item.PropertyTypeName</span></p>
                                        <p class="mb-0"><span>Users seen last 30 days  :</span><a href="#"> @item.LastMonthsViews Users</a></p>
                                        <p class="mb-0"><span>Users seen total :</span> <a href="#">@item.TotalViews Users</a></p>
                                        <p class="mb-0"><span>Potential buyers :</span> <a href="#">0</a></p>

                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 border-end ps-5 property_info">
                                        <p class="mb-0">
                                            <span>Applicable lending products : </span>
                                            <span class="fw-bold"><a href="#"> 0</a></span>
                                        </p>
                                        <p class="mb-0"><span>Relationship to property :</span><span class="fw-bold"> @item.RelationshipToProperty</span></p>
                                        <p class="mb-0"><span>Broker Contact:</span><span class="fw-bold"> @item.ContactNumber</span></p>
                                        <p class="mb-0"><span>Reidy fee :</span> <span class="fw-bold">$0.00</span> </p>

                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 ps-5 property_info">
                                        <p class="mb-0"><span>Posted By : </span><a href="#"> @item.FirstName @item.LastName </a></p>
                                        <p class="mb-0"><span>Posted date  :</span><span class="fw-bold"> @DateTime.Parse(item.CreatedOn).ToString("MM/dd/yyyy")</span></p>
                                        @if (@item.ModifyDate != null)
                                        {
                                            <p class="mb-0"><span>Last modified  :</span><span class="fw-bold"> @DateTime.Parse(item.ModifyDate).ToString("MM/dd/yyyy")</span></p>
                                        }
                                        else
                                        {
                                            <p class="mb-0"><span>Last modified  :</span><span class="fw-bold"> Not Modified </span></p>
                                        }
                                        <p class="mb-0"><span>Action needed :</span><span class="fw-bold"> Broker</span></p>
                                    </div>

                                    <div class="d-flex align-items-center mt-4 justify-content-between">
                                        <div class="col-xxl-3 col-xl-3 col-md-4 col-4">
                                            <div class="d-flex align-items-center">
                                                <span class="me-3">
                                                    Status:
                                                </span>

                                                <select id="statusDropdown_@item.PropertyId" class="w-75 form-select d-inline select_status px-3">
                                                    <option>Select status</option>

                                                    @*  <option value="Rejected" selected="@((item.IsApproved == "Rejected") ? "selected" : null)">Rejected</option>
                                                        <option value="Need Changes" selected="@((item.IsApproved == "Need Changes") ? "selected" : null)">Need Changes</option>
                                                        <option value="Approved" selected="@((item.IsApproved == "Approved") ? "selected" : null)">Approved</option>
                                                        <option value="Under Contract" selected="@((item.IsApproved == "Under Contract") ? "selected" : null)">Under Contract</option>
                                                        <option value="Sold" selected="@((item.IsApproved == "Sold") ? "selected" : null)">Sold</option>*@

                                                    <option value="Active/Approved" selected="@((item.IsApproved == "Active/Approved") ? "selected" : null)">Active/Approved</option>
                                                    <option value="Offer received" selected="@((item.IsApproved == "Offer received") ? "selected" : null)">Offer received</option>
                                                    <option value="Need changes" selected="@((item.IsApproved == "Need changes") ? "selected" : null)">Need changes</option>
                                                    <option value="Under contract" selected="@((item.IsApproved == "Under contract") ? "selected" : null)">Under contract</option>
                                                    <option value="Closed/Completed/Sold" selected="@((item.IsApproved == "Closed/Completed/Sold") ? "selected" : null)">Closed/Completed/Sold</option>
                                                    <option value="Cancelled/Rejected" selected="@((item.IsApproved == "Cancelled/Rejected") ? "selected" : null)">Cancelled/Rejected</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div>
                                            <a asp-action="GetPropertyById" asp-controller="TransactionCoordinator" asp-route-id="@item.PropertyId" class="btn-sign btn-pbr me-0 btn">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <!-- scripts -->
    <script src="~/js/jquery-3.7.1.js"></script>
    <script src="~/js/transactionCoordinator.js"></script>
    <!----- Lender script ------->
</body>
</html>