@using SanmorePlatform_REAL_Utility.Enum;
@using SanmorePlatform_REAL_Utility.Enum.LenderEnum;
@model IEnumerable<SanmorePlatform_REAL_Model.ViewModels.LenderViewModel.LenderProductResponceModel>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SanmorePlatform-REAL</title>
    <!-- Links -->
    <!-- Lenders CSS -->
    <link rel="stylesheet" href="~/css/lenders.css">
    <link rel="stylesheet" href="~/css/lendersResponsive.css">

</head>

<body>
    <!--Nav-->
    <!-- Add listing -->
    <div class="top-section">
        <div class="container-fluid container-px">
            <div class="d-flex flex-column">
                <h4 class="fw-semibold mb-0">Lending Product <span class="blue-primary">List</span> </h4>
            </div>
        </div>
    </div>


    <div class="addlistingform pb-5">
        <div class="container-fluid container-px">
            <div class="map-filters p-4">
                <div class="row p-20-12">
                    <div class="col-12 d-flex ">
                        <div>
                            <input type="text" class="filter-control searchicon" placeholder="Search...">
                        </div>

                        <div class="dropdown open small-d-none">
                            <button type="button" class="btn filter-control dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Sort by
                            </button>

                            <ul class="dropdown-menu px-3 wrap-text">
                                <li class="d-flex align-items-center">
                                    Oldest updated first
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Newest updated first
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Nickname A-Z
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Nickname Z-A
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown open small-d-none">
                            <button type="button" class="btn filter-control dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Filter by
                            </button>

                            <ul class="dropdown-menu px-3 wrap-text">
                                <li class="d-flex align-items-center">
                                    Loan product hidden
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-flex align-items-center">
                                    Loan product public
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn-sign btn-pbr">Search</button>
                    </div>
                </div>
            </div>
            <!------ List 1 ------>
            <!------ List 2 ------>
            <!------ List 3 ------>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <div class="lending-list mt-3">
                        <div class="list-header row align-items-center">
                            <div class="col-xl-12 col-md-12 lending-list-title">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center ">
                                        <p class="mb-0">
                                            <span class="fw-bold mb-0">Nick name :</span>
                                            @if (item.NickName != null)
                                            {
                                                <span class="ms-1 fw-bold blue-primary">@item.NickName </span>
                                            }
                                            else
                                            {
                                                <span class="ms-1 fw-bold blue-primary"> Empty </span>
                                            }

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 row-detail ps-3 pe-3">
                            <div class="col-12 col-md-3 col-lg-3">
                                @{
                                    var id = 1;
                                    foreach (var i in Enum.GetValues(typeof(LoanProduct)))
                                    {
                                        @if (item.LoanProduct == id)
                                        {
                                            <p>Loan product : <span class="ms-2 fw-bold">@i.ToString().Replace('_',' ')</span></p>
                                        }
                                        id++;
                                    }
                                }
                            </div>
                            <div class="col-12 col-md-3 col-lg-3">
                                <p>LTV max percentages : <span class="ms-2 fw-bold">@item.LTVMax%</span></p>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3r">
                                <p>LTC max percentages : <span class="ms-2 fw-bold">@item.LTCMax%</span></p>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3 ">
                                @{
                                    var creditValue = 1;
                                    foreach (var i in Enum.GetValues(typeof(CreditScoreList)))
                                    {
                                        @if (item.CreditScoreRequirement == creditValue)
                                        {
                                            <p>Minimum credit requirement : <span class="ms-2 fw-bold">@i</span></p>
                                        }
                                        creditValue++;
                                    }
                                }



                            </div>
                            <div class="col-12 col-md-3 col-lg-3 ">
                                <p class="mb-0">Liquidity requirement : <span class="ms-2 fw-bold">@item.LiquidityRequirement</span></p>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3">
                                @{
                                    var appraisalValue = 1;
                                    foreach (var i in Enum.GetValues(typeof(AppraisalList)))
                                    {
                                        @if (item.AppraisalRequired == appraisalValue)
                                        {
                                            <p>Appraisal required : <span class="ms-2 fw-bold">@i.ToString().Replace('_',' ')</span></p>
                                        }
                                        appraisalValue++;
                                    }
                                }
                            </div>
                            <div class="col-12 col-md-3 col-lg-3">
                                <p class="mb-0">
                                    Property Types :
                                </p>
                                @{
                                    var assets = 1;
                                    foreach (var i in Enum.GetValues(typeof(AssetType)))
                                    {
                                        var imgArray = item.TypeOfAssets.Split(',');
                                        foreach (var value in imgArray)
                                        {
                                            @if (int.Parse(value) == assets)
                                            {
                                                <span class="ms-2 fw-bold">@i.ToString().Replace('_','&')</span>
                                            }

                                        }
                                        assets++;
                                    }
                                }

                            </div>
                            <div class="col-12 col-md-3 col-lg-3">
                                <p class="mb-0">Min/Max Loan : <span class="ms-2 fw-bold">$@string.Format("{0:#,#.00}", @item.LoanAmountRangeMin) - $@string.Format("{0:#,#.00}", @item.LoanAmountRangeMax)</span></p>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3">
                                <p class="mb-0">Interest rate : <span class="ms-2 fw-bold">@item.InterestRate%</span></p>
                            </div>
                            @if (item.DoesLoanHavePrepaymentPenalty == 0)
                            {
                                <div class="col-12 col-md-3 col-lg-3">
                                    <p>Prepayment penalty : <span class="ms-2 fw-bold">None</span></p>
                                </div>
                                <div class="col-12 col-md-3 col-lg-3">
                                    <p class="mb-0">Prepayment structure : <span class="ms-2 fw-bold">None</span></p>
                                </div>
                            }
                            else if (item.DoesLoanHavePrepaymentPenalty == 1 && item.TypeOfPrepaymentStructure == 0)
                            {
                                <div class="col-12 col-md-3 col-lg-3">

                                    <p>Prepayment penalty : <span class="ms-2 fw-bold">@item.DoesLoanHavePrepaymentPenalty</span></p>
                                </div>

                                <div class="col-12 col-md-3 col-lg-3">
                                    <p class="mb-0">Prepayment structure : <span class="ms-2 fw-bold">None</span></p>
                                </div>
                            }
                            else if (item.DoesLoanHavePrepaymentPenalty == 1 && item.TypeOfPrepaymentStructure != 0)
                            {
                                <div class="col-12 col-md-3 col-lg-3">
                                    <p>Prepayment penalty : <span class="ms-2 fw-bold">@item.DoesLoanHavePrepaymentPenalty</span></p>
                                </div>

                                <div class="col-12 col-md-3 col-lg-3">
                                    @{
                                        var structure = 1;
                                        foreach (var i in Enum.GetValues(typeof(PrepaymentStructure)))
                                        {
                                            @if (item.TypeOfPrepaymentStructure == structure)
                                            {
                                                <p>Appraisal required : <span class="ms-2 fw-bold">@i.ToString().Replace('_',' ')</span></p>
                                            }
                                            structure++;
                                        }
                                    }
                                </div>
                            }
                            else if (item.DoesLoanHavePrepaymentPenalty == 2)
                            {
                                <div class="col-12 col-md-3 col-lg-3">
                                    <p>Prepayment penalty : <span class="ms-2 fw-bold">@item.DoesLoanHavePrepaymentPenalty</span></p>
                                </div>
                                <div class="col-12 col-md-3 col-lg-3">
                                    <p class="mb-0">Prepayment structure : <span class="ms-2 fw-bold">None</span></p>
                                </div>
                            }
                            <input type="hidden" id="hdnUserId" value="@Context.Session.GetString("Id")" />
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="col switch-outer">
                                    <button type="button" class="btn-login btn-headerlist" data-bs-toggle="modal"
                                            onclick="EditLenderProductList()">
                                        Edit
                                    </button>

                                    <div class="on-off-toggle">
                                        <input type="hidden" id="hdnProductId" value="@item.ProductId">
                                        <input class="on-off-toggle__input" onchange="UpdateLoanStatus(@item.ProductId)" type="checkbox" id="list3">
                                        <label for="list3" class="on-off-toggle__slider lender_product_list"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row border-top py-3 ps-3 pe-3 mt-3">
                            <div class="col-md-6 col-12">
                                <p class="mb-0">
                                   @*  @foreach (var stateValues in Model.states)
                                    {
                                        if (Model.StateId == stateValues.StateId)
                                        {
                                            <option selected value="@stateValues.StateId">@stateValues.LongName</option>
                                        }
                                        else
                                        {
                                            <option value="@stateValues.StateId">@stateValues.LongName</option>
                                        }
                                    } *@
                                    <span class="fw-bold me-2">Areas Served : </span>


                                    <a class="clicked sign me-2">
                                        <span>AL, </span> <span>Huntsville</span>
                                    </a>
                                    <a class="clicked sign me-2">
                                        <span>CA, </span> <span>Los Angeles</span>
                                    </a>
                                </p>
                            </div>
                            <div class="col-md-6 col-12">
                                <p class="mb-0 textleft-mob">
                                    <span class="fw-bold me-2">Posted date : </span>
                                    <span>@item.CreatedOn.ToString("MM/dd/yyyy")</span>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }      
        </div>
    </div>


    <!-- edit detail pop up -->
    <div class="modal fade" id="myModal" aria-hidden="true"
         aria-labelledby="lending_product_list_editLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
            <div class="modal-content br-32">
                <div class="modal-header p-4">
                    <h5 class="modal-title" id="lending_product_list_editLabel">Lending product details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4 pt-4 bg-seconsary">
                    <div class="container-fluid add-property">
                        <div class="row">
                            <h5 class="mb-3">Program</h5>
                            <div class="col-xl-4 col-md-6 mb-2">
                                <label for="programType" class="form-label">
                                    Loan product <span class="text-danger">*</span>
                                </label>
                                <select class="form-select" aria-label="Default select example" id="propertyType">                                  
                                    <option selected value="0">Select</option>
                                    <option value="1">Conventional loan</option>
                                    <option value="2">DSCR loan</option>
                                    <option value="3">Hard money loan</option>
                                    <option value="4">Hybrid loan</option>
                                    <option value="5">Non - QM loan</option>
                                    <option value="6">Private lender loan</option>
                                </select>
                            </div>
                            <div class="col-xl-4 col-md-6 mb-2">
                                <label for="fixAdjustRate" class="form-label">
                                    Fixed or adjustable rate? <span class="text-danger">*</span>
                                </label>
                                <select class="form-select" aria-label="Default select example" id="RateSelect">
                                    <option selected value="0">Select</option>                                
                                    <option value="1">Adjustable rate</option>
                                    <option value="2">Fixed rate</option>
                                   
                                </select>
                            </div>
                            <!------- Below section is hidden and will show on select of Adjustable Rate option ----->
                            <div class="col-xl-4 col-md-6 mb-3" id="AdjustValue">
                                <label for="Adjuststrctr" class="form-label">Adjustable structure desc</label>
                                <input type="text" class="input-field" id="Adjuststrctr" placeholder="Adjustable structure">
                            </div>
                            <!------- Above section is hidden and  will show on select of Adjustable Rate option ----->
                            <div class="col-xl-4 col-md-6 mb-3">
                                <label for="termField" class="form-label">
                                    Terms <span class="text-danger">*</span>
                                </label>

                                <div class="row">
                                    <div class="col-12 d-flex align-items-center">
                                        <div class="w-50 me-3">
                                            <input type="text" class="input-field" id="inputTerm">
                                        </div>
                                        <div class="w-50">
                                            <select class="form-select" id="selectTerm">
                                                <option value="0">Select</option>
                                                <option selected value="1">Months</option>
                                                <option value="2">Years</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 mb-3">
                                <label for="Amortization" class="form-label">
                                    Amortization<span class="text-danger">*</span>
                                </label>
                                <select class="form-select" id="amortization">
                                    <option value="0">Select</option>
                                    <option value="1">Interest only</option>
                                    <option value="2">5 years</option>
                                    <option value="3">10 years</option>
                                    <option value="4">15 years</option>
                                    <option value="5">20 years</option>
                                    <option value="6">25 years</option>
                                    <option value="7">30 years</option>
                                    <option value="8">35 years</option>
                                    <option value="9">40 years</option>
                                    <option value="10">Other</option>
                                </select>
                            </div>
                            <!------- Below section is hidden and will show on select of other option ----->
                            <div class="col-xxl-4 col-xl-2 col-md-6 mb-3">
                                <label for="inputAmortizationOther" class="form-label">Other</label>
                                <input type="text" class="input-field" id="amortizationother"
                                       placeholder="Description">
                            </div>
                            <!------- Above section is hidden and will show on select of other option ----->
                        </div>
                        <div class="row">
                            <div class="col-xxl-2 col-xl-2 col-md-6 mb-3">
                                <label for="InterestRate" class="form-label">
                                    Interest rate <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="input-field" id="InterestRate">
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-md-6 mb-2 priceinput-outer">
                                <label class="form-label">Loan amount range <span class="text-danger">*</span></label>
                                <div class="row">
                                    <div class="col-12 d-flex align-items-center mb-3">
                                        <div>
                                            <input type="text" class="input-field" id="minLoan">
                                        </div>
                                        <div>
                                            <span class="mx-2">to</span>
                                        </div>
                                        <div>
                                            <input type="text" class="input-field" id="maxLoan">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-xxl-3 col-xl-4 col-md-6 mb-3">
                                <label for="inputLenderOrigin" class="form-label">Lender origination</label>
                                <input type="tel" class="input-field" id="LenderOrigin" placeholder="Origination points">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                <label for="AdditionalFees" class="form-label">Additional fees</label>
                                <input type="text" class="input-field" id="AdditionalFees"
                                       placeholder="Description of fee">
                            </div>
                            <div class="col-xxl-2 col-xl-4 col-md-6 mb-3">
                                <label for="AdditionalAmount" class="form-label">Amount</label>
                                <input type="text" class="input-field" id="AdditionalAmount" placeholder="Amount">
                            </div>
                            <div class="col-xl-1 col-md-1 mt-6">
                                <span class="ms-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                         fill="none">
                                        <path d="M10 0C4.477 0 0 4.477 0 10C0 15.523 4.477 20 10 20C15.523 20 20 15.523 20 10C20 4.477 15.523 0 10 0ZM15 11H11V15H9V11H5V9H9V5H11V9H15V11Z"
                                              fill="#002A7B"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="add-property mt-3">
                        <h5 class="mb-3">Areas Served</h5>
                        <div class="row">
                            <div class="col-xl-4 col-md-4 mb-3">
                                <label for="StateFeilds" class="form-label">
                                    State <span class="text-danger">*</span>
                                </label>
                                <select class="js-select2 form-select" aria-label="Default select example"
                                        id="StateFeilds" multiple>
                                    <option value="0" class="areaServed_0">All states</option>
                                    <option value="1" class="areaServed_1">California</option>
                                    <option value="2" class="areaServed_2">Florida</option>
                                    <option value="3" class="areaServed_3">Virginia</option>
                                    <option value="4" class="areaServed_4">Ohio</option>
                                </select>
                            </div>
                            <div class="col-xl-4 col-md-4 mb-2">
                                <div class="mb-3">
                                    <label class="form-label" for="LendingCounties">Counties</label>
                                    <select class="js-select2 form-select" aria-label="Default select example"
                                            id="LendingCounties" multiple>
                                        <option value="5">All counties</option>
                                        <option value="1">Bullock</option>
                                        <option value="2">Butler</option>
                                        <option value="3">Colbert</option>
                                        <option value="4">Houston</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 mb-2">
                                <div class="mb-3">
                                    <label class="form-label" for="LendingCity">City</label>
                                    <select class="js-select2 form-select" aria-label="Default select example"
                                            id="LendingCity" multiple>
                                        <option value="5">All cities</option>
                                        <option value="1">Chicago</option>
                                        <option value="2">Dallas</option>
                                        <option value="3">Miami</option>
                                        <option value="4">Hollywood</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-property mt-3">
                        <h5 class="mb-3">Property Details</h5>
                        <div class="row justify-between-desktop LTV-outer">
                            <div class="col-xxl-4 col-xl-4 col-md-6 mb-3 col-12 pe-xl-1">
                                <label for="assetTypeId" class="form-label wrap-text">
                                    Type of assets this product
                                    applies to
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="js-select2 form-select" aria-label="Default select example"
                                        id="assetTypeId" multiple>
                                    <option value="1">Multifamily</option>
                                    <option value="2">1-4 Residential</option>
                                    <option value="3">Office</option>
                                    <option value="4">Industrial</option>
                                    <option value="5">Retail</option>
                                    <option value="6">Shopping center</option>
                                    <option value="7">Specialty</option>
                                    <option value="8">Healthcare</option>
                                    <option value="9">Hospitality</option>
                                    <option value="10">Sports &amp; entertainment</option>
                                    <option value="11">Land</option>
                                    <option value="12">Residential portfolio</option>
                                </select>
                            </div>
                            <!-------- Below section will show if the Multifamily option is selected on above dropdown ----->
                            <div class="col-xxl-4 col-xl-5 col-md-6 mb-3 col-12">
                                <label for="multifamilyunits" class="form-label">
                                    Multifamily units lending
                                    range<span class="text-danger">*</span>
                                </label>
                                <div class="row">
                                    <div class="col-12 d-flex align-items-center justify-content-between mb-3">
                                        <div>
                                            <input type="text" class="input-field" placeholder="Min. unit count">
                                        </div>
                                        <div>
                                            <span class="mx-2">to</span>
                                        </div>
                                        <div>
                                            <input type="text" class="input-field" placeholder="Max. unit count">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-------- Above section will show if the Multifamily option is selected on above dropdown ----->
                        </div>
                        <div class="row">
                            <div class="col-xxl-4 col-xl-4 col-md-6 mb-3 col-12 pe-xl-1">
                                <label for="PurchasePercent" class="form-label">
                                    Percent of purchase to lend up
                                    to<span class="text-danger">*</span>
                                </label>
                                <input type="text" class="input-field" id="PurchasePercent" placeholder="%">
                            </div>
                            <div class="col-xxl-3 col-xl-4 col-md-6 mb-3 col-12">
                                <label for="RehabPercent" class="form-label">Percent of rehab to lend up to</label>
                                <input type="text" class="input-field" id="RehabPercent" placeholder="%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-3 col-md-4 mb-3 col-6 pe-xl-1">
                                <label for="LTVmax" class="form-label">
                                    Loan-To-Value max <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="input-field" id="LTVmax" placeholder="%">
                            </div>
                            <div class="col-xxl-3 col-md-4 mb-3 col-6">
                                <label for="LTCmax" class="form-label">Loan-To-Cost max</label>
                                <input type="text" class="input-field" id="LTCmax" placeholder="%">
                            </div>
                            <div class="col-xxl-3 col-md-4 mb-3 col-12">
                                <label for="DSCRAccept" class="form-label">Min. acceptable DSCR (if any)</label>
                                <input type="text" class="input-field DSCR" id="DSCRAccept"
                                       placeholder="Minimum DSCR">
                            </div>
                        </div>
                        <hr>
                        <div class="unit-mix-section pt-2">
                            <div class="row">
                                <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                    <label class="form-label" for="quespenalty">
                                        Does this loan have prepayment
                                        penalty
                                        ?
                                    </label>
                                    <select class="form-select" aria-label="Default select example" id="quespenalty">
                                        <option selected value="0">Select</option>
                                        <option value="1">Yes</option>
                                        <option value="2">No</option>
                                    </select>
                                </div>
                                <!------- Below sections are hidden and will show on selet of Yes option ------->
                                <div class="col-xl-8">
                                    <div class="row">
                                        <div class="col-xxl-6 col-md-6 mb-3 quespenaltyyes">
                                            <label class="form-label" for="structure">
                                                Type of prepayment
                                                structure
                                            </label>
                                            <select class="form-select" aria-label="Default select example"
                                                    id="structure">                                             
                                                <option selected>Select</option>
                                                <option value="1">Flat fee</option>
                                                <option value="2">Step down</option>
                                                <option value="3">Yield maintenance</option>
                                                <option value="4">Defeasance</option>
                                                <option value="5">Other</option>
                                            </select>
                                        </div>
                                        <div class="col-xxl-6 col-md-6 mb-3 col-12 quespenaltyyes">
                                            <label for="FeeCharged" class="form-label">Description </label>
                                            <input type="text" class="input-field DSCR" id="FeeCharged"
                                                   placeholder="Description">
                                        </div>
                                    </div>
                                </div>
                                <!------- Above sections are hidden and will show on selet of Yes option ------->
                                <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                    <label class="form-label" for="Inspection">
                                        Inspection required? <span class="text-danger">*</span>
                                    </label>
                                    <select class="form-select" aria-label="Default select example" id="Inspection">                                     
                                        <option selected>Select</option>
                                        <option value="1">None required before close</option>
                                        <option value="2">Third party report needed before closing</option>
                                        <option value="3">Lender visit needed before closing</option>
                                        <option value="4">Lender visit after closing</option>
                                    </select>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                    <label for="IncomeDocs" class="form-label">
                                        Property income docs required? <span class="text-danger">*</span>
                                    </label>
                                    <select class="js-select2 form-select" aria-label="Default select example"
                                            id="IncomeDocs" multiple>
                                        <option value="1">None required</option>
                                        <option value="2">Rent roll</option>
                                        <option value="3">Current income vs expenses</option>
                                        <option value="3">Income vs expense report last 6 months</option>
                                        <option value="3">Income vs expense report last 12 months</option>
                                        <option value="3">Copy of all leases</option>
                                    </select>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-md-6 mb-3 w-20">
                                    <label for="environmental" class="form-label">
                                        Environmental required? <span class="text-danger">*</span>
                                    </label>
                                    <select class="form-select" aria-label="Default select example" id="environmental">
                                      
                                        <option selected>Select</option>
                                        <option value="1">None required</option>
                                        <option value="2">Case by case basis</option>
                                        <option value="3">Desktop environmental risk assessment</option>
                                        <option value="4">Phase 1 study</option>
                                        <option value="5">Phase 2 study</option>
                                    </select>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-md-6 mb-3 w-20">
                                    <label class="form-label" for="AppraisalReq">
                                        Appraisal required? <span class="text-danger">*</span>
                                    </label>
                                    <select class="form-select" aria-label="Default select example" id="AppraisalReq">
                                       
                                        <option selected>Select</option>
                                        <option value="1">None required</option>
                                        <option value="2">CMA Is OK</option>
                                        <option value="3">Lite Or Desk Appraisal OK</option>
                                        <option value="4">Full Appraisal Needed</option>
                                    </select>
                                </div>
                                <div class="col-xxl-3 col-xl-8 col-md-6 mb-3 w-20">
                                    <label class="form-label">
                                        Survey required? <span class="text-danger">*</span>
                                    </label>
                                    <div class="mt-2 mb-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input radioId" type="radio" name="inlineRadioOptions"
                                                   id="surveyYes">
                                            <label class="form-check-label" for="surveyYes">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input radioId" type="radio" name="inlineRadioOptions"
                                                   id="surveyYNo">
                                            <label class="form-check-label" for="surveyYNo">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xxl-3 col-xl-4 col-md-6 mb-3">
                                        <label for="programType" class="form-label">
                                            Insurance level requirement
                                            <span class="text-danger">*</span>
                                        </label>
                                        <select class="form-select" aria-label="Default select example"
                                                id="InsuranceLevel">
                                            <option selected>Select</option>
                                            <option value="1">3 Months</option>
                                            <option value="2">6 Months</option>
                                            <option value="3">12 Months</option>
                                            <option value="4">1 Year</option>
                                            <option value="5">2 Years</option>
                                            <option value="6">3 Years</option>
                                        </select>
                                    </div>
                                    <div class="col-xxl-9 col-xl-8 col-md-12 mb-3 ">
                                        <label class="form-label ms-1">Type of insurance</label>
                                        <div class="mt-2 mb-3 checkboxouter">
                                            <div class="form-check form-check-inline checkbox-1 me-1 ps-xl-1 ps-md-1">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name=""
                                                           id="GeneralLiability">
                                                    <label class="form-check-label" for="GeneralLiability">
                                                        General
                                                        liability
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-check form-check-inline me-1 ps-xl-1 ps-md-1">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="" id="Hazard">
                                                    <label class="form-check-label" for="Hazard">Hazard</label>
                                                </div>
                                            </div>
                                            <div class="form-check form-check-inline me-1 ps-xl-1 ps-md-1">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="" id="Flood">
                                                    <label class="form-check-label" for="Flood">Flood</label>
                                                </div>
                                            </div>
                                            <div class="form-check form-check-inline me-1 ps-xl-1 ps-md-1">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name=""
                                                           id="WindHail">
                                                    <label class="form-check-label" for="WindHail">
                                                        Wind and
                                                        hail
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-check form-check-inline me-1 ps-xl-1 ps-md-1">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name=""
                                                           id="BuilderRisk">
                                                    <label class="form-check-label" for="BuilderRisk">
                                                        Builder's
                                                        risk
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-md-6 mb-3">
                                    <label for="CollectEscrows" class="form-label">Will you collect escrows?</label>
                                    <select class="form-select" aria-label="Default select example" id="CollectEscrows">
                                       
                                        <option selected value="0">Select</option>
                                        <option value="1">Insurance only</option>
                                        <option value="2">Property taxes only</option>
                                        <option value="3">Both insurance and property taxes</option>
                                        <option value="4">Other</option>
                                      
                                    </select>
                                </div>
                                <!------- Below section is hidden and will show on other option is selet ------->
                                <div class="col-xl-4 col-md-6 mb-3" id="other_escrows">
                                    <label for="otherescrows" class="form-label">Other</label>
                                    <input type="text" class="input-field" id="otherescrows" placeholder="Description">
                                </div>
                                <!------- Above section is hidden and will show on other option is selet ------->
                            </div>
                        </div>
                    </div>
                    <!-- other section starts ---->
                    <div class="add-property mt-3">
                        <h5 class="mb-3">Buyer Requirements</h5>
                        <div class="row mt-2">
                            <div class="col-xl-4 col-md-6 mb-3">
                                <label for="CreditRequirement" class="form-label">
                                    Credit score requirement (if any)
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="form-select" aria-label="Default select example" id="CreditRequirement">
                                    <option selected value="0">Select</option>
                                    <option value="1">None required</option>
                                    <option value="2">550+</option>
                                    <option value="3">600+</option>
                                    <option value="4">625+</option>
                                    <option value="5">650+</option>
                                    <option value="6">675+</option>
                                    <option value="7">700+</option>
                                    <option value="8">725+</option>
                                    <option value="9">750+</option>
                                </select>
                            </div>
                            <div class="col-xl-4 col-md-6 mb-3">
                                <label for="LiquidityRequirement" class="form-label">
                                    Liquidity requirement (if any)
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="form-select" aria-label="Default select example"
                                        id="LiquidityRequirement">
                                    <option selected value="0">Select</option>
                                    <option value="1">None required</option>
                                    <option value="2">3 months of debt service</option>
                                    <option value="3">6 months of debt service</option>
                                    <option value="4">9 months of debt service</option>
                                    <option value="5">1 year of debt service</option>
                                    <option value="6">5% of loan amount </option>
                                    <option value="7">10% of loan amount</option>
                                    <option value="8">20% of loan amount</option>
                                    <option value="9">More than 20% of loan amount</option>
                                </select>
                            </div>
                            <div class="col-xl-4 col-md-6 mb-3">
                                <label for="TaxReturn" class="form-label">
                                    Tax return requirement (if any) <span class="text-danger">*</span>
                                </label>
                                <select class="form-select" aria-label="Default select example" id="TaxReturn">
                                    <option selected value="0">Select</option>
                                    <option value="1">None Required</option>
                                    <option value="2">Must Show Last Year</option>
                                    <option value="3">Must Show Last 2 Years</option>
                                    <option value="4">Must Show Last 3 Years</option>
                                </select>
                            </div>
                            <div class="col-xl-4 col-md-6 mb-3">
                                <label for="experience" class="form-label">
                                    Experience requirement (if any) <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="input-field" id="experience"
                                       placeholder="Experience requirement">
                            </div>
                            <div class="col-xl-4 col-md-6 mb-3">
                                <label for="NetWorth" class="form-label">
                                    Net worth requirement (if any) <span class="text-danger">*</span>
                                </label>
                                <select class="form-select" aria-label="Default select example" id="NetWorth">
                                    <option selected value="0">Select</option>
                                    <option value="1">None Required</option>
                                    <option value="2">Equal or greater than loan amount</option>
                                </select>
                            </div>
                            <div class="col-xl-4 col-md-6 mb-3">
                                <label for="USCtizenp" class="form-label">
                                    US citizenship status
                                    requirement
                                </label><span class="text-danger">*</span>
                                <select class="js-select2 form-select" aria-label="Default select example"
                                        id="USCtizenp" multiple>
                                    <option value="1">US citizen</option>
                                    <option value="2">Legal US resident</option>
                                    <option value="3">US Visa or temporary status holder</option>
                                    <option value="3">International citizenship accepted</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="add-property mt-3">
                        <h5 class="mb-3">Other Requirements</h5>
                        <div class="row mt-2 align-items-center">
                            <div class="col-xxl-5 col-xl-5 col-md-8 mb-3">
                                <label for="OtherDocs" class="form-label">
                                    Any other property or buyer requirements
                                    needed?
                                </label>
                                <input type="text" class="input-field w-75" id="OtherDocs"
                                       placeholder="Other buyer requirements ?">
                            </div>
                            <div class="col-xl-1 col-md-1 mt-2">
                                <span class="ms-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                         fill="none">
                                        <path d="M10 0C4.477 0 0 4.477 0 10C0 15.523 4.477 20 10 20C15.523 20 20 15.523 20 10C20 4.477 15.523 0 10 0ZM15 11H11V15H9V11H5V9H9V5H11V9H15V11Z"
                                              fill="#002A7B"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xl-12 col-md-12 d-flex justify-content-end pe-0 user_profile">
                        <button type="button" class="btn-login btn-pbr">
                            Cancel
                        </button>
                        <button type="button" class="btn-sign btn-pbr" onclick="UpdateLenderProduct()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <!-- Right Sidebar Menu Modal Popup -->
    <!-- Right Sidebar Menu Modal Popup End-->
    <!-- scripts -->

    <script>
        function handleFileSelect(inputId, containerId, counterId) {
            const input = document.getElementById(inputId);
            const previewContainer = document.getElementById(containerId);
            const counterElement = document.getElementById(counterId);
            var uploadinputfil = document.getElementById("fileInput1");
            input.addEventListener('change', function (event) {
                const files = event.target.files;
                previewContainer.innerHTML = '';

                for (const file of files) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        const filePreview = document.createElement('div');
                        filePreview.className = 'file-preview';
                        const img = document.createElement('img');
                        img.src = e.target.result;
                        img.alt = file.name;
                        filePreview.appendChild(img);

                        const deleteButton = document.createElement('button');
                        deleteButton.className = 'delete-button';
                        deleteButton.innerHTML = 'X';
                        deleteButton.addEventListener('click', function (ee) {

                            filePreview.remove();
                            updateFileCounter(counterElement, -1);
                        });

                        filePreview.appendChild(deleteButton);
                        previewContainer.appendChild(filePreview);
                        updateFileCounter(counterElement, 1);
                    };

                    reader.readAsDataURL(file);
                }
            });
        }

        function updateFileCounter(counterElement, change) {
            const currentCount = parseInt(counterElement.textContent);
            const newCount = currentCount + change;
            counterElement.textContent = newCount;
        }

        // Initialize for each file input
        handleFileSelect('fileInput1', 'filePreviewContainer1', 'counter1');
        handleFileSelect('fileInput2', 'filePreviewContainer2', 'counter2');
    </script>

    <!-- scripts -->
    <script src="~/js/jquery-3.7.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!----- Lender script ------->
    <script src="~/js/lender.js"></script>
    <script src="~/js/Lender/lenderProductList.js"></script>

</body>

</html>